@model IEnumerable<DAl.PageComment>
<div role="tabpanel" class="tab-pane" id="comments">
    <ul class="spost_nav">
        @foreach (var item in Model)
        {
            <li>
                <div class="media wow fadeInDown">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p style="color:#798992; font-size:11px;"><i class="fa fa-user" style="margin-left:5px"></i>@item.Name<i class="fa fa-calendar" style="margin-right:10px;margin-left:5px"></i>@item.CreateDate.ToString("dddd dd MMM yyyy")</p>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <p>@item.Comment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
