@if (User.Identity.IsAuthenticated)
{
    @Html.BeginForm("LogOff", "Accounts", FormMethod.Post, new { id = "logoutForm" })
    {
        @Html.AntiForgeryToken()
        <ul class="av navbar-nav navbar-left">
            <li><p><span>@User.Identity.Name</span> گرامی خوش آمدید! </p></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">خروج</a></li>
        </ul>
    }
}

else
{
    <ul class="av navbar-nav navbar-left">
        <li><a href=@Url.Action("Login", "Home")>ورود به سایت</a></li>
    </ul>

}





